[include]
	path = ~/.config/git/identity-personal
[alias]
	lg = log --graph --oneline --decorate
	unstage = restore --staged
	br-rm = "!~/.config/git/br-rm.sh"
	pull-subs = submodule update --remote --merge
[init]
	defaultBranch = main
[fetch]
	prune = true
[core]
	autocrlf = input
	ignorecase = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[checkout]
	defaultRemote = origin
[push]
	autoSetupRemote = true
	
# Optional, untracked machine specific config. Must be loaded last.
[include]
	path = ~/.gitconfig.local
